@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 20 14.3% 4.1%;
--muted: 60 4.8% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 0 0% 100%;
--popover-foreground: 20 14.3% 4.1%;
--card: 0 0% 100%;
--card-foreground: 20 14.3% 4.1%;
--border: 20 5.9% 90%;
--input: 20 5.9% 90%;
--primary: 215 90% 40%;
--primary-foreground: 210 40% 98%;
--secondary: 215 15% 85%;
--secondary-foreground: 215 25% 25%;
--accent: 215 80% 40%;
--accent-foreground: 210 40% 98%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 215 80% 40%;
--radius: 0.5rem;
  }
  .dark {
      --background: 215 30% 12%;
--foreground: 210 40% 98%;
--muted: 215 25% 20%;
--muted-foreground: 215 20% 70%;
--popover: 215 30% 12%;
--popover-foreground: 210 40% 98%;
--card: 215 30% 12%;
--card-foreground: 210 40% 98%;
--border: 215 25% 20%;
--input: 215 25% 20%;
--primary: 215 90% 60%;
--primary-foreground: 210 40% 98%;
--secondary: 215 25% 25%;
--secondary-foreground: 210 40% 98%;
--accent: 215 80% 60%;
--accent-foreground: 210 40% 98%;
--destructive: 0 62.8% 40%;
--destructive-foreground: 0 0% 98%;
--ring: 215 80% 60%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}